


<p id="notice"><%= notice %></p>
<%= form_tag tweets_path, :method => 'get', class:"form-inline my-4"  do %>
  <p>
    <%= text_field_tag :content, params[:content], class:"form-control mr-sm-2" %>
    <%= submit_tag "Search", :content => nil, class:"btn btn-outline-light my-2 my-sm-0" %>
  </p>
<% end %>

<h1>Tweets</h1>
<br>

<div class="row">
<div class="col-md-8 offset-md-2">
<%= paginate @tweets %>
</div>
</div>

<br>
<%= link_to 'New Tweet', new_tweet_path %>
<br>

<table>
  <tbody>
    <% @tweets.each do |tweet| %>
  
    
      
        <tr>
       <th>Usuario</th>
       <td><%= tweet.user %></td> 
        </tr>

      <tr>
       
        <th>Content</th>
        <td><%= render_with_hashtags(tweet.content) %></td> 
        <td><%= link_to time_ago_in_words(tweet.created_at), tweet%></td>
        <td><%= button_to 'Like', tweet_likes_path(tweet), method: :post %></td>
        <td><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></td>
        <td><%= link_to 'Retweet', retweet_path(tweet)%></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
  
     
    <% end %>
  </tbody>
</table>

<br>



<div class="row">
<div class="col-md-8 offset-md-2">
<%= paginate @tweets %>
</div>
</div>
  